{% extends 'base.html' %}
{% block body_content %}
    <div id="projects">
        <h1>My projects</h1>

        <h2>bizstore.si</h2>

        <p>url: <a href="http://bizstore.si">bizstore.si</a></p>

        <h3>Project:</h3>

        <p>
            Marketplace web application that enables end-customers to order cloud services and get support online.
        </p>

        <h4>Features:</h4>

        <p>
            Application involves offering cloud based services to end-customers to order. From this application customer
            is able to order and comunicate their wishes about services (usernames, domain names itd.), directly to
            technical staff. It is integrated with services platform providers CRM and so comunication between customer
            and sales department is also made trough application.
        </p>

        <h2>developers.simobil.si</h2>

        <p>url: <a href="http://developers.simobil.si">developers.simobil.si</p>

        <h3>Features:</h3>

        <p>Application enables sales stuff to generete orders </p>

        <h2>POPP</h2>

        <p></p>

        <h2>Sales application</h2>

    </div>
{% endblock %}